//  ==========================================
//  @author: Akshay Anand
//  @package: Fonts include
//  ==========================================

// Web Fonts
@import url('https://fonts.googleapis.com/css?family=Lato:300,400,700');
@import url('https://fonts.googleapis.com/css?family=Courgette');
@import url('https://fonts.googleapis.com/css?family=Roboto:300,300i,400,500,700');
@import url('https://fonts.googleapis.com/css?family=Nunito');

// Local Fonts
