.pizza {

  &__wrapper {
    display: flex;
    height: 100vh;
  }

  &__category-sidebar {
    width: 10%;

    display: flex;
    flex-direction: column;
  }

  &__category-label {
    flex: 1;
    justify-content: center;

    .icon-label {
      display: flex;
      justify-content: center;
      align-items: center;
      height: 100%;

      background-color: #f5f5f5;
      border-right: 1px solid #e5e5e5;
      border-bottom: 1px solid #e5e5e5;

      cursor: pointer;

      &:disabled {
        cursor: not-allowed;
        opacity: 0.5;
      }


    }

  }


  &__viewer {
    width: 70%;
  }


  &__topping-selector {
    width: 30%;
    max-height: 100vh;
    overflow: auto;
  }

  &__topping-container {
    display: flex;
    flex-wrap: wrap;
  }

  &__topping {
    width: 50%;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    padding: $base-spacing-unit;
    cursor: pointer;

    img {
      width: 100%;
    }

    &.active {
      background: red;
    }

  }

  &__viewer {
    display: flex;
    justify-content: center;
    align-items: center;
  }


  &__viewer-container {
    position: relative;
  }

  &__viewer-box {
    position: absolute;
    top: 5%;
    left: 5%;
    right: 5%;
    bottom: 5%;
    display: flex;
    justify-content: center;
    align-items: center;
    border-radius: 50%;
    overflow: hidden;
  }

  &__toppings {
    position: absolute;
    height: 100%;
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    align-items: center;
    border-radius: 50%;
    overflow: hidden;

    span {
      width: 25%;
      position: relative;
    }

  }

  &__toppings-multi {
    width: 100%;
    height: 100%;
  }


}