/*  @author: Akshay Anand */
/*  @package: Main Stylesheet.*/
/*  ============================= */
/*  Import custom defined variables / mixins */
@import "mixins/variables";
@import "mixins/spacers";
@import "mixins/theme-colors";
@import "mixins/breakpoints";
/*Fonts Import*/
@import "mixins/_fonts-include.scss";
/*  Import bootstrap core library */
@import "vendor/bootstrap-imports";
/*Normalize Import*/
// @import "partials/_normalize.scss";

/* ============== */
/* Base Elements */
/* ============== */
html,
body {
  height: 100%;
  padding: 0 !important;
  margin: 0 !important;
  font-size: 16px;
  font-family: $font-primary;
  font-weight: 300;
}

body {
  background-color: $white;
  min-width: $site-container-min-width;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

/* Main page wrapper for a full website container {use on all pages}; */
#wrap {
  min-height: 100%;
  height: auto !important;
  height: 100%;
}

/* site width */
.application-container {
  width: 100%;
  margin: 0 auto;
  max-width: $site-container-max-width;
}

a:focus, a:hover {
  background-color: unset;
  color: #fff;
  outline: none;
  text-decoration: none;
}


/* Custom imports */
@import "global/helper-classes";
@import "component/pizzaBuilder";
